<div class="event-create-wrap">  
    <h1 class="event-create-header-text">New event: {{targetTitle}}</h1>
    <span class="event-create-errormsg">{{errorMsg}}</span>      
    <form #createEventForm="ngForm" 
        (ngSubmit)="createEvent(createEventForm)">
        <span class="event-create-validation" *ngIf="event.invalid && event.touched">
            name is required
        </span>        
        <div class="event-create-group"> 
            <label for="event" class="event-create-text">EVENT: </label> 
            <input 
                type="text"                  
                id="event"
                name="event"
                class="event-create-event-input"                     
                required
                ngModel
                #event="ngModel"
            >                
        </div>
        <div class="event-create-group">
            <div>
                <label for="date-begins" class="event-create-text">DATE (BEGINS): &nbsp;&nbsp;</label>
                <input 
                    type="date" 
                    id="date-begins" 
                    name="datebegins"
                    class="event-create-options"
                    ngModel 
                    #datebegins="ngModel"
                >           
                <label for="date-ends" class="event-create-text">  DATE (ENDS): </label>
                <input
                    type="date" 
                    id="date-ends" 
                    name="dateends"                    
                    class="event-create-options"
                    ngModel 
                    #dateends="ngModel"
                >
            </div>
            <label for="guest-capacity" class="event-create-text">GUEST CAPACITY: </label> 
            <input 
                type="number" 
                id="guest-capacity" 
                name="guestcapacity"
                class="event-create-options" 
                ngModel 
                #guestcapacity="ngModel"
            >
        </div>
        <span class="event-create-validation" *ngIf="description.invalid && description.touched">
                description is required
        </span>
        <div class="event-create-group">                   
            <label for="description" class="event-create-text label-textarea">DESCRIPTION: </label>  
            <textarea 
                class="event-create-textarea" 
                id="description"
                name="description"
                required
                ngModel
                #description="ngModel" 
            >
            </textarea>
        </div>            
        <div class="event-create-button-group">
            <button type="button" class="event-create-button" (click)="cancel()" >CANCEL</button>
            <div class="event-create-button-group-inner">
                <!-- <button type="button" class="event-create-button" >PREVIEW</button> -->
                <button type="submit" class="event-create-button"  >SEND</button>     
            </div>           
        </div> 
    </form>
</div>