.post_info {
    border: 2px solid #000000;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
    background-color: #949494;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-border {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 50px;
    width: 50px;
}

.line {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.line-1 {
    justify-content: space-between;
}

.line-2 {
    cursor: pointer;
}

.line-3 {
    flex-direction: row-reverse;
    cursor: pointer;
}

.group, .topic {
    display: flex;
    align-items: center;
}

a {
    padding-left: 10px;
    cursor: pointer;
}