<div *ngIf="post.original_post_id === 0" class="post_info">
    <div class="line line-1">
        <div class="user-info">
            <div class="avatar-border">
                <img class="avatar" src="{{ post.author.avatar ?? '/assets/img/blank_avatar.png'}}"/>
            </div>
            <a class="name" (click)="navigateToUser(post.author.id)">{{ post.author.name }}</a>
            <div>on</div>
            <div class="group" *ngIf="post.target_group_id !== 0">
                <div>group</div>
                <a class="group-btn" (click)="navigateToGroup(post.target_group_id)">{{ this.groupListService.groupById(post.target_group_id).title }}</a>
            </div>
            <div class="topic" *ngIf="post.target_topic_id !== 0">
                <div>topic</div>
                <a class="topic-btn" (click)="navigateToTopic(post.target_topic_id)">{{ this.topicService.findTopicById(post.target_topic_id).title }}</a>
            </div>
        </div>
        <p class="date">
            {{ 
                post.created_time.toString().split("T")[0].split("-").reverse().join(".") + " " + 
                post.created_time.toString().split("T")[1].split(":").splice(0, 2).join(":")
            }}
        </p>

    </div>
    <h3 class="line line-2" (click)="navigateToPost(post.id)">{{ post.title }}</h3>
    <p class="line line-3" (click)="navigateToPost(post.id)">{{ post.reply_posts.length + " comments" }}</p>
</div>
