@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    position: sticky;
}

.header {
    font-family: 'Shadows Into Light Two';
    font-weight: 400;
    font-size: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.buttons {
    font-family: 'Shadows Into Light Two';
    font-size: 30px;
    color: #949494;
}

a {
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

#logout_button, #login_button {
    color: #FFFFFF;
    background-color: #949494;
}

#logout_button:hover, #login_button:hover {
    color: #000000;
}

ul li {
    padding: 10px;
    display: inline-block;
}

a:link {
    color: #D9D8D2;
    text-decoration: none;
}

a:visited {
    color: #949494;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown {
	display: none;
    position: absolute;
}
	
ul li:hover > ul {
	display: inherit;
}
	
ul ul li {
	float: left;
	display: list-item;
    padding: 22px;
}

li > a:after { content:  ' ⇩'; }
li > a:only-child:after { content: ''; }
