<div *ngIf="isTopName(); then topNames else notTopNames"></div>

<ng-template #topNames>
<nav class="navbar">
    <span class="header">ALUMNI</span>
    <ul class="buttons logged-in" *ngIf="this.auth.isAuthenticated()">
        <li class="dropdown_button button">
            <a id="menu_button">
                {{ this.router.url.charAt(1).toUpperCase() + this.router.url.substring(2) }}
            </a>
            <ul>
                <li *ngIf="this.router.url !== '/timeline'" class="button timeline">
                    <a routerLink="/timeline">Timeline</a>
                </li>
                <li *ngIf="this.router.url !== '/groups'" class="button groups">
                    <a id="groups_button" routerLink="/groups">Groups</a>
                </li>
                <li *ngIf="this.router.url !== '/topics'" class="button topics">
                    <a id="topics_burron" routerLink="/topics">Topics</a>
                </li>
                <li *ngIf="this.router.url !== '/calendar'" class="button">
                    <a id="calendar_button" routerLink="/calendar">Calendar</a>
                </li>
                <li *ngIf="this.router.url !== '/profile'" class="button">
                    <a id="profile_button" routerLink="/profile">Profile</a>
                </li>
            </ul>
        </li>
        <li class="button">
            <a id="logout_button" (click)="this.auth.logout()">Logout</a>
        </li>
    </ul>
    <ul class="buttons logged-out" *ngIf="!this.auth.isAuthenticated()">
        <li>
            <a id="login_button" (click)="this.auth.login()">Log in</a>
        </li>
    </ul>
</nav>
</ng-template>

<ng-template #notTopNames>
    <nav class="navbar">
        <span class="header">ALUMNI</span>
        <ul class="buttons logged-in" *ngIf="this.auth.isAuthenticated()">
            <li class="dropdown_button button">
                <a id="menu_button">
                    Menu
                </a>
                <ul>
                    <li *ngIf="this.router.url !== '/timeline'" class="button timeline">
                        <a routerLink="/timeline">Timeline</a>
                    </li>
                    <li *ngIf="this.router.url !== '/groups'" class="button groups">
                        <a id="groups_button" routerLink="/groups">Groups</a>
                    </li>
                    <li *ngIf="this.router.url !== '/topics'" class="button topics">
                        <a id="topics_burron" routerLink="/topics">Topics</a>
                    </li>
                    <li *ngIf="this.router.url !== '/calendar'" class="button">
                        <a id="calendar_button" routerLink="/calendar">Calendar</a>
                    </li>
                    <li *ngIf="this.router.url !== '/profile'" class="button">
                        <a id="profile_button" routerLink="/profile">Profile</a>
                    </li>
                </ul>
            </li>
            <li class="button">
                <a id="logout_button" (click)="this.auth.logout()">Logout</a>
            </li>
        </ul>
        <ul class="buttons logged-out" *ngIf="!this.auth.isAuthenticated()">
            <li>
                <a id="login_button" (click)="this.auth.login()">Log in</a>
            </li>
        </ul>
    </nav>
    </ng-template>
