@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    position: sticky;
    z-index: 9;
}

.header {
    font-family: 'Shadows Into Light Two';
    font-weight: 400;
    font-size: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.buttons {
    font-family: 'Shadows Into Light Two';
    font-size: 20px;
    color: #949494;
}

a {
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    display: block;
}

#logout_button, #login_button {
    color: #FFFFFF;
    background-color: #949494;
}

#logout_button:hover, #login_button:hover {
    color: #000000;
}

ul li {
    padding: 10px;
}

li {
    width: 160px;
    height: 60px;
}

a:link {
    color: #D9D8D2;
    text-decoration: none;
}

a:visited {
    color: #949494;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}
	
ul li > ul {
    display: none;
}

ul li:hover > ul {
	display: inherit;
}
	
ul ul li {
	float:none;
	display:list-item;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_button {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown_button > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: -10px;
}

.dropdown_button > ul > li {
    padding: 15px;
}

#timeline_button {
    display: none;
}

li > a:after { content:  ' ⇩'; }
li > a:only-child:after { content: ''; }
