@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.navbar {
    flex: initial;
    padding-left: 30px;
    top: 0;
    position: sticky;
}

.header {
    font-family: 'Shadows Into Light Two';
    font-weight: 400;
    font-size: 100px;
}

.buttons {
    font-family: 'Shadows Into Light Two';
    font-size: 30px;
    color: #949494;
    padding: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    position: absolute;
    top: 40px;
    
}

a:link {
    color: #D9D8D2;
    text-decoration: none;
}

a:visited {
    color: #949494;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

ul ul {
	display: none;
	position: absolute; 
	top: 15px;
}
	
ul li:hover > ul {
	display:inherit;
}
	
ul ul li {
	float:none;
	display:list-item;
	position: absolute;
    left: 608px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

li > a:after { content:  ' ⇩'; }
li > a:only-child:after { content: ''; }

#logout_button {
    position: relative;
    left: 750px;
    color: #FFFFFF;
    background-color: #949494;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#timeline_button {
    position: relative;
    left: 600px;
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#calendar_button {
    position: relative;
    left: 440px;
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#profile_button {
    position: relative;
    left: 310px;
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#login_button {
    position: relative;
    left: 310px;
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#register_button {
    position: relative;
    left: 440px;
    border: 2px solid #949494;
    border-radius: 30px;
    border: 2px solid #949494;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #949494;
    color: white;
}





