@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.profile {
    font-family: 'Shadows Into Light Two';
    font-size: large;
    border: 4px solid #000000;
    background: #D9D8D2;
    border-radius: 30px;
    box-sizing: border-box;
    position: absolute;
    width: 905px;
    height: 367px;
    left: 30px;
    top: 150px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 20px;
}

.profile_picture {
    font-family: 'Shadows Into Light Two';
    font-size: large;
    text-align: center;
    padding-top: 150px;
    box-sizing: border-box;
    border: 4px solid #000000;
    background: #D9D8D2;
    position: absolute;
    border-radius: 30px;
    width: 300px;
    height: 367px;
    left: 945px;
    top: 150px;
}