<div class="posts-header">
    <b>POSTS</b>
    <a id="search">
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    </a>
</div>
<div class="posts-container">
    <p *ngIf="loading()">Loading posts...</p>
    <ul *ngIf="!loading()">
        <li *ngFor="let post of posts">
            <app-post-list-item 
                *ngIf="(topicId === 0 && groupId === 0)
                || topicId === post.target_topic_id
                || groupId === post.target_group_id" 
                [post]="post"
            >
            </app-post-list-item>
        </li>
    </ul>
</div>