ul { 
    list-style-type: none;
} 

ul li { 
    border: 2px solid #000000; 
    background: #949494; 
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

div span.only-show-on-hover {
    visibility: hidden;
}
div:hover span.only-show-on-hover  {
    visibility: visible;
}