<div *ngIf="!loading">
    <div class="group-info">
        <ul>
            <li id="title"><b>{{ group.title }}</b></li>
            <li>{{ group.description }}</li>
        </ul>

    </div>
    <div class="add-buttons">
        <app-add-buttons [entity]="group" [target]="'group'"></app-add-buttons>
    </div>
    <section>
        <div class="posts">
            <b>POSTS</b>
            <div class="posts-container">
                <ul>
                    <li *ngFor="let post of posts">
                        <app-post-list-item *ngIf="post.target_group_id === group.id" [post]="post"></app-post-list-item>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>