@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

.posts {
    font-family: 'Shadows Into Light Two';
    font-size: x-large;
    padding: 20px;
    border: 4px solid #000000;
    background: rgba(217, 216, 210, 0.8);
    border-radius: 30px;
    box-sizing: border-box;
    position: absolute;
    width: 550px;
    height: 367px;
    left: 30px;
    top: 300px;
}

.events {
    font-family: 'Shadows Into Light Two';
    font-size: x-large;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid #000000;
    background: rgba(217, 216, 210, 0.8);
    position: absolute;
    border-radius: 30px;
    width: 550px;
    height: 367px;
    left: 610px;
    top: 300px;
}

.group-info {
    font-family: 'Shadows Into Light Two';
    box-sizing: border-box;
    border: 4px solid #000000;
    background: rgba(217, 216, 210, 0.8);
    position: absolute;
    border-radius: 30px;
    width: 550px;
    height: 120px;
    left: 30px;
    top: 150px;
}

ul { 
    list-style-type: none;
}

#title {
    font-size: xx-large;
}
