ul { 
    list-style-type: none;
} 

ul li { 
    padding: 10px;
}

#img {
    width: 300px; 
    height: 367px;
    border-radius: 30px;
    border: 4px solid #000000;
    position: absolute;
    left: 915px;
    top: 0px;
    background-color: #D9D8D2;
}